<p>
	Found <strong>43</strong> possible schedules! Sorting by
	<select id="sort">
		<option value="">requirements filled</option>
		<option value="">earlier first</option>
		<option value="">later first</option>
	</select>:
</p>
{{#if title}}
<div id="results">
	{{#each results}}
	<a class="result" href="/schedule/{{hash}}" id="schedule-{{hash}}">
		<div class="timetable">
			{{#each timeblocks}}
			<div class="{{day}}" style="top:{{start}}%;height:{{duration}}%"></div>
			{{/each}}
		</div>
		<div class="information">
			<div class="courses">{{classes}}</div>
			<!--<div class="score">14 hours fulfilling 2 of your 10 requirements</div>-->
		</div>
	</a>
	{{/each}}
	<div class="expanded template">
		<table class="weekview">
			<thead>
				<tr>
					<td class="right">Time</td>
					<td>Monday</td>
					<td>Tuesday</td>
					<td>Wednesday</td>
					<td>Thursday</td>
					<td>Friday</td>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		<div class="information">
			<div class="alert">Make sure you meet all prerequisites and are eligible to take these courses!</div>
			<p class="coursesummary">5 courses totalling 14 hours:</p>
			<ul class="courses">
				<li>ACC 378 (<a href="#">43434</a>): CLASS TITLE</li>
				<li>UGS 303 (<a href="#">18939</a>): DIFFERENT CLASS TITLE</li>
			</ul>
			<p class="requirementsummary">2 of your 10 requirements are met:</p>
			<ul class="requirements">
				<li>It would be nice to have a class fulfilling core requirement Visual and Performing Arts.</li>
				<li>It would be nice to have a class fulfilling the flag Cultural diversity.</li>
			</ul>
			<input type="url" class="schedulelink" value="http://class.es/463784" />
			<small>You can share your schedule using the link above</small>
		</div>
	</div>
</div>
{{else}}
No results. Broaden your search.
{{/if}}
